{% extends 'base.html' %}
{% block title %}Asignar US{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{usuario.username}}</a>.<br></br>
			Se encuentra en el proyecto: {{proyecto.nombre_largo}}!<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
	{% if staff %}	<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
	{% endif %}	</li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
		<link href="/static/calendario/calendar-blue.css" rel="stylesheet" type="text/css">
		<script type="text/JavaScript" language="javascript" src="/static/calendario/calendar.js"></script>
		<script type="text/JavaScript" language="javascript" src="/static/calendario/lang/calendar-sp.js"></script>
		<script type="text/JavaScript" language="javascript" src="/static/calendario/calendar-setup.js"></script>
		
		<script language="javascript">
		
			var cursor;
			if (document.all) {
				// Está utilizando EXPLORER
				cursor='hand';
			} else {
				// Está utilizando MOZILLA/NETSCAPE
				cursor='pointer';
			}
		</script>
		
		<div id="pagina">
			<div id="zonaContenido">
				<div align="center">
					<div id="tituloForm" class="header">ASIGNAR USER STORY A USUARIO</div>
					<div id="frmBusqueda">
						<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}{{ form.errors }} 
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								<tr>
									<td width="15%"><b>ID</b></td>
								    <td width="43%">{{us.id}}</td>
								</tr>
								
								<tr>
									<td width="15%"><b>Nombre</b></td>
								    <td width="43%">{{us.nombre}}</td>
								</tr>
								
								<tr>
									<td width="15%"><b>Tiempo Estimado</b></td>
								    <td width="43%">{{us.tiempo_estimado}} hs.</td>
								</tr>
								
								<tr>
									<td width="15%"><b>Usuario</b></td>
									<td width="43%">
										<select id="id_user" name="id_user" class="comboGrande">
											<option selected="selected" disabled="disabled">--- Selecciona un Usuario ---</option> 
												{% if u_h %}
													{% for u,h in u_h %}
														{% if not u in list_usuarios_asginados %}
															<option value="{{u.id}}" id="id_user">{{u.user}} | {{h.cantidad_diaria}} hs/día.</option>
														{% endif %}
													{% endfor %}
												{% endif %}
										</select>
									</td>								
								</tr>	
							
							</table>	
						</div>
											
					<div id="botonBusqueda">
						<button class="button" type="submit">ASIGNAR USER STORY</button>
				  		<a class="button" onClick="javascript:history.go(-1);"> CANCELAR</a>
					</div>
					</form>
					<div id="error" align="center">
								<br> <br>
								{% if  envio == False %}
		
		 							<font color="red"><big><big>¡¡¡ Notificación no Enviada !!!</big></big></font>  
		
								{% endif %}
	
					</div>
				</div>
			</div>
		</div>
			

{% endblock content %}