{% extends 'base.html' %}
{% block title %}Gracias{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{user.username}}</a>.</br>
			Se encuentra en el proyecto: {{proyecto.nombre_largo}}!
			<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
	{% if staff %}	<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
	{% endif %}	</li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
			<div id="pagina">
				<div id="zonaContenido">
					<div align="center">
						{% if aid == 1 %}
							<div id="tituloForm" class="header">USER STORY CREADO</div>
						{% elif aid == 2 %}
							<div id="tituloForm" class="header">USER STORY MODIFICADO</div>
						{% elif aid == 3 %}
							<div id="tituloForm" class="header">USER STORY ASIGNADO</div>
						{% elif aid == 4 %}
							<div id="tituloForm" class="header">ESTADO DE USER STORY MODIFICADO</div>
						{% elif aid == 5 %}
							<div id="tituloForm" class="header">REPORTE DE US CREADO</div>
						{% elif aid == 6 %}
							<div id="tituloForm" class="header">NOTA AGREGADA AL USER STORY</div>
						{% endif %}
							<div id="frmBusqueda">
								<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
									<colgroup>
										<col width="16%">
										<col width="21%">
										<col width="21%">
										<col width="21%">
										<col width="21%">
									</colgroup>
									<tr>
										<td><b>ID</b></td>
										<td colspan="2">{{us.id}}</td>
								    </tr>
								    
									<tr>
										<td><b>Nombre</b></td>
									    <td colspan="2">{{us.nombre}}</td>
								    </tr>
								    {% if aid == 6 %}
										<tr>
											<td><b>Nombre de Nota</b></td>
											<td width="36%">{{nota.nombre}}</td>									
										</tr>
																		
										<tr>
											<td><b>Descripción</b></td>
											<td width="36%">{{nota.descripcion}}</td>									
										</tr>
										
								    {% elif aid == 5 %}
										<tr>
											<td><b>Porcentaje Alcanzado (hasta el momento)</b></td>
											<td width="36%">{{reporte.porcentaje_alcanzado }}</td>									
										</tr>
																		
										<tr>
											<td><b>Horas Faltantes</b></td>
											<td width="36%">{{reporte.horas_faltantes}}</td>									
										</tr>
										
										<tr>
											<td><b>Fecha Reporte</b></td>
											<td width="36%">{{reporte.fecha_reporte}}</td>									
										</tr>
										
										<tr>
											<td><b>Descripción Breve</b></td>
											<td width="36%">{{reporte.descripcion}}</td>									
										</tr>
									{% else %}
								    
									    <tr>
											<td><b>Descripción</b></td>
										    <td colspan="2">{{us.descripcion}}</td>
									    </tr>
									   	
									    <tr>
											<td><b>Nivel de Prioridad</b></td>
										    <td colspan="2">{{us.nivel_prioridad}}</td>
									    </tr>
									    {% if staff %}
									    <tr>
											<td><b>Valor de Negocios</b></td>
										    <td colspan="2">{{us.valor_negocios}}</td>
									    </tr>
									    
									    <tr>
											<td><b>Urgencia</b></td>
										    <td colspan="2">{{us.urgencia}}</td>
									    </tr>
									    
									    <tr>
											<td><b>Size</b></td>
										    <td colspan="2">{{us.size}}</td>
									    </tr>
									    {% endif %}
									    <tr>
											<td><b>Tipo</b></td>
										    <td colspan="2">{{us.tipo}}</td>
									    </tr>
									    {% if aid == 3 %}
									    <tr>
											<td><b>Usuario Asignado</b></td>
										    <td colspan="2">{{us.usuario_asignado}}</td>
									    </tr>
									    {% endif %}
									    
									    <tr>
											<td><b>Estado</b></td>
											{% if us.estado == 1 %}
												<td width="35%">Planificado</td>
											{% elif us.estado == 2 %}											
												<td width="35%">En Ejecución</td>
											{% elif us.estado == 3 %}											
												<td width="35%">Finalizado</td>
											{% elif us.estado == 4 %}											
												<td width="35%">Cancelado</td>
											{% endif %}
										</tr>
								   {% endif %}
								</table>
							</div>
							</div>
								
								<div id="error" align="center">
								<br> <br>
								{% if  envio == False %}
		
		 							<font color="red"><big><big>¡¡¡ Notificación no Enviada !!!</big></big></font>  
		
								{% endif %}
	
							</div>
							<div id="botonBusqueda">
        							<p align="center">Los cambios han sido guardados.  <img src="/static/img/disco.png" alt="Guardados"/></p>
        					</div>
        					{% if staff %}    							
        						<a href="{% url 'agileApp:index_us' user.id proyecto.id %}" class="button" type="submit">VOLVER</a>
							{% else %}
        						<a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}" class="button" type="submit">VOLVER</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
{% endblock content %}