{% extends 'base.html' %}
{% block title %}Modificar US{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{usuario.username}}</a>.<br></br>
			Se encuentra en el proyecto: {{proyecto.nombre_largo}}!<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
	{% if staff %}	<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
	{% endif %}	</li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
		<link href="/static/calendario/calendar-blue.css" rel="stylesheet" type="text/css">
		<script type="text/JavaScript" language="javascript" src="/static/calendario/calendar.js"></script>
		<script type="text/JavaScript" language="javascript" src="/static/calendario/lang/calendar-sp.js"></script>
		<script type="text/JavaScript" language="javascript" src="/static/calendario/calendar-setup.js"></script>
		
		<script language="javascript">
		
			var cursor;
			if (document.all) {
				// Está utilizando EXPLORER
				cursor='hand';
			} else {
				// Está utilizando MOZILLA/NETSCAPE
				cursor='pointer';
			}
		</script>
		
		<div id="pagina">
			<div id="zonaContenido">
				<div align="center">
					<div id="tituloForm" class="header">CREAR USER STORY</div>
					<div id="frmBusqueda">
						<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}{{ form.errors }} 
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								<tr>
									<td width="15%"><b>ID</b></td>
								    <td width="43%">{{us.id}}</td>
								</tr>
								
								<tr>
									<td width="15%"><b>Nombre</b></td>
								    <td width="43%">{{us.nombre}}</td>
								</tr>
								{% if staff7 %}
								<tr>
									<td width="15%"><b>Descripción</b></td>
								    <td width="43%"><input NAME="descripcion" type="text" class="cajaGrande" id="descripcion" size="50" maxlength="50" value="{{us.descripcion}}"></td>
								</tr>	
								{% endif %}
								{% if staff4 %}
								<tr>
									<td width="15%"><b>Nivel de Prioridad</b></td>
								    <td width="43%"><input NAME="nivel_prioridad" type="text" class="cajaGrande" id="nivel_prioridad" size="50" maxlength="50" value="{{us.nivel_prioridad}}"></td>
								</tr>	
								{% endif %}
								{% if staff1 %}
								<tr>
									<td width="15%"><b>Valor de Negocios</b></td>
								    <td width="43%"><input NAME="valor_negocios" type="text" class="cajaGrande" id="valor_negocios" size="50" maxlength="50" value="{{us.valor_negocios}}"></td>
								</tr>
								{% endif %}
								{% if staff2 %}
								<tr>
									<td width="15%"><b>Valor Técnico</b></td>
								    <td width="43%"><input NAME="valor_tecnico" type="text" class="cajaGrande" id="valor_tecnico" size="50" maxlength="50" value="{{us.valor_tecnico}}"></td>
								</tr>
								{% endif %}
								{% if staff3 %}
								<tr>
									<td width="15%"><b>Size</b></td>
								    <td width="43%"><input NAME="size" type="text" class="cajaGrande" id="size" size="50" maxlength="50" value="{{us.size}}"></td>
								</tr>
								{% endif %}
								{% if staff9 %}
								<tr>
									<td width="15%"><b>Tiempo Estimado (en hs.)</b></td>
								    <td width="43%"><input NAME="tiempo_estimado" type="text" class="cajaGrande" id="tiempo_estimado" size="50" maxlength="50" value="{{us.tiempo_estimado}}"></td>
								</tr>
								{% endif %}
								{% if staff8 %}
								<tr>
									<td width="15%"><b>Tipo</b></td>
								    <td width="43%"><input NAME="tipo" type="text" class="cajaGrande" id="tipo" size="50" maxlength="50" value="{{us.tipo}}"></td>
								</tr>	
								{% endif %}								
							</table>	
						</div>
				{% if staff10 %}		
				<div id="tituloForm" class="header">MODIFICAR DESARROLLADO DE US</div>
					<div id="frmBusqueda">
						<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}{{ form.errors }} 
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
							
								<tr>
									<td width="15%"><b>Desarrollador Actual</b></td>
								    <td width="43%">{{us.usario_asignado}}</td>
								</tr>
								<tr>
									<td width="15%"><b>Usuario</b></td>
									<td width="43%">
										<select id="id_user" name="id_user" class="comboGrande">
											<option selected="selected" disabled="disabled">--- Selecciona un Usuario ---</option> 
												{% if usuarios %}
													{% for u in usuarios %}
														{% if not u in list_usuarios_asginados %}
															<option value="{{u.id}}" id="id_user">{{u.user}}</option>
														{% endif %}
													{% endfor %}
												{% endif %}
										</select>
									</td>								
								</tr>						
							</table>	
						</div>
				{% endif %}							
					<div id="botonBusqueda">
						<button class="button" type="submit">MODIFICAR USER STORY</button>
				  		<a class="button" onClick="javascript:history.go(-1);"> CANCELAR</a>
					</div>
					</form>
				</div>
			</div>
		</div>
			

{% endblock content %}