{% extends 'base.html' %}
{% block title %}Reportar Avance US{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{usuario.username}}</a>!
			<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
					<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
				</li>
				
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
		<div id="pagina">
			<div id="zonaContenido">
				<div align="center">
					<div id="tituloForm" class="header">REPORTAR AVANCE DE US</div>
					<div id="frmBusqueda">
						<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}{{ form.errors }} 
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								
								<tr>
									<td width="14%"><b>ID</b></td>
								    <td width="36%">{{us.id}}</td>
								</tr>
								
								<tr>
									<td width="14%"><b>Nombre</b></td>
								    <td width="36%">{{us.nombre}}</td>
								</tr>	
										
								<tr>
									<td><b>Usuario Asignado</b></td>
									<td width="36%">{{us.usuario_asignado}}</td>								
								</tr>
								
								<tr>
									<td><b>Duración Estimada en Horas</b></td>
									<td width="36%">{{us.tiempo_estimado}}</td>								
								</tr>
														
								<tr>
									<td><b>Horas Consumidas</b></td>
									<td><input NAME="horas_consumidas" type="number" class="cajaGrande" id="horas_faltantes" size="50" maxlength="50" value=""></td>								
								</tr>
								
								<tr>
									<td><b>Descripción Breve</b></td>
									<td><input NAME="descripcion" type="text" class="cajaGrande" id="descripcion" size="50" maxlength="50" value=""></td>								
								</tr>
							</table>	
					</div>
					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					

					<div id="botonBusqueda">
						<button class="button" type="submit">REPORTAR AVANCE DE US</button>
				  		<a class="button" onClick="javascript:history.go(-1);"> CANCELAR</a>
					</div>
					</form>
				</div>
			</div>
		</div>
			

{% endblock content %}