{% extends 'base.html' %}
{% block title %}Ver Reporte US{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{user.username}}</a>.</br>
			Se encuentra en el proyecto: {{proyecto.nombre_largo}}!
			<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
	{% if staff %}	<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
	{% endif %}	</li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
		<script language="javascript">
			
			function nuevo_reporte() {
				location.href="{% url 'agileApp:reportar_avance_us' user.id proyecto.id us.id %}";
			}
			
			var cursor;
			if (document.all) {
				// Está utilizando EXPLORER
				cursor='hand';
			} else {
				// Está utilizando MOZILLA/NETSCAPE
				cursor='pointer';
			}
		</script>

			<div id="pagina">
				<div id="zonaContenido">
					<div align="center">
						<div id="tituloForm" class="header">VISUALIZAR REPORTES DE US</div>
							<div id="frmBusqueda">
								<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
									<colgroup>
										<col width="16%">
										<col width="21%">
										<col width="21%">
										<col width="21%">
										<col width="21%">
									</colgroup>
									<tr>
										<td><b>User Story</b></td>
										<td width="36%">{{us.nombre}} hs.</td>									
									</tr>
									
									<tr>
										<td><b>Tiempo Estimado</b></td>
										<td width="36%">{{us.tiempo_estimado}} hs.</td>									
									</tr>
									
									<tr>
										<td><b>Horas Disponibles</b></td>
										<td width="36%">{{horas_disponibles}} hs.</td>									
									</tr>
									
									<tr>
										<td><b>Horas Consumidas Reales (por el momento)</b></td>
										<td width="36%">{{us.horas_consumidas_reales}} hs.</td>									
									</tr>
									<tr>
												<td><b>-----------------------------------------------------------</b></td>								
											</tr>
									{% if reportes %}
										{% for reporte in reportes %}
											
											<tr>
												<td><b>Reporte Nro.</b></td>
												<td width="36%">{{forloop.counter}}</td>									
											</tr>
																		
											<tr>
												<td><b>Horas Consumidas</b></td>
												<td width="36%">{{reporte.horas_consumidas}} hs.</td>									
											</tr>
											
											<tr>
												<td><b>Fecha Reporte</b></td>
												<td width="36%">{{reporte.fecha_reporte}}</td>									
											</tr>
											
											<tr>
												<td><b>Descripción Breve</b></td>
												<td width="36%">{{reporte.descripcion}}</td>									
											</tr>
											
											<tr>
												<td><b>-----------------------------------------------------------</b></td>								
											</tr>
										{% endfor %}
									{% else %}
										<p>No hay, aún, reportes de este user story.</p>
									{% endif %}
								    
								</table>
							</div>
							
							<div id="botonBusqueda">
									<td style="text-align:left"><a onClick="nuevo_reporte()" onMouseOver="style.cursor=cursor" class="button" >AGREGAR REPORTE</a></td>
        							<a class="button" onClick="javascript:history.go(-1);"> ATRÁS</a>
        					</div>
						</div>
					</div>
				</div>
			</div>
{% endblock content %}