{% extends 'base.html' %}
{% block title %}Visualizar Proyecto{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{usuario.username}}</a>!
			<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
					<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
				</li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>

<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}
						
<table border="1" align="center" cellspacing="0" cellpadding="5">
	<caption><b>{{flujo.nombre}}</b></caption>
   	<tr valign="bottom" align="center">
      
      {% if up %}
	  {% for u in up %}
	  	<td>   
         <table border="1" align="center" cellspacing="0" cellpadding="5"  width="500"  height="250">
         	<caption><b>{{u.nombre}}</b></caption>

         <td>
          <table border="1" align="center" cellspacing="0" cellpadding="5"  width="175"  height="350">
          <caption><b>TO DO</b></caption>
            	<tr>
            	<td>
            	{% if us %}
	  			{% for k in us %}
	  			{% if k.f_estado == 1 and k.f_actividad == u.id %}
	  			<div align="center">
	  			{% if not k.estado == 1 %}
	  				{% if not k.f_actividad == actividad.id %}
			  			<a href="{% url 'agileApp:cambiar_estado_kanban1' user.id proyecto.id flujo.id k.id %}"><img src="/static/img/flecha2.png" width="20" height="20" border="0" title="Modificar"></a>
			  			{% endif %}
			  			<a href="{% url 'agileApp:verk' user.id proyecto.id k.id %}" type="submit"> {{k.nombre}}</a>
		              	<a href="{% url 'agileApp:cambiar_estado_kanban' user.id proyecto.id flujo.id k.id %}" type="submit"><img src="/static/img/flecha1.png" width="20" height="20" border="0" title="Modificar"></a>
              	{% else %}
			  		<a href="{% url 'agileApp:verk' user.id proyecto.id k.id %}" type="submit"> {{k.nombre}}</a>
              	{% endif %}
              	</div>
              	</br>
              	&nbsp;
              	&nbsp;
              	</br>
              	
              	{% endif %}
              	{% endfor %}
				{% endif %}
            	</td>
            	</tr>
         </table>
      	</td> 

		
		

         <td>
          <table border="1" align="center" cellspacing="0" cellpadding="5"  width="175"  height="350">
          <caption><b>DOING</b></caption>
            	<tr>
            	<td>
            	{% if us %}
	  			{% for k in us %}
	  			{% if k.f_estado == 2 and k.f_actividad == u.id %}
	  			<div align="center">
	  			{% if not k.estado == 1 %}
		  			<a href="{% url 'agileApp:cambiar_estado_kanban1' user.id proyecto.id flujo.id k.id %}"><img src="/static/img/flecha2.png" width="20" height="20" border="0" title="Modificar"></a>
		  			<a href="{% url 'agileApp:verk' user.id proyecto.id k.id %}" type="submit"> {{k.nombre}}</a>
	              	<a href="{% url 'agileApp:cambiar_estado_kanban' user.id proyecto.id flujo.id k.id %}"><img src="/static/img/flecha1.png" width="20" height="20" border="0" title="Modificar"></a>
	            {% else %}
			  		<a href="{% url 'agileApp:verk' user.id proyecto.id k.id %}" type="submit"> {{k.nombre}}</a>
              	{% endif %}  	
              	</div>
              	</br>
              	&nbsp;
              	&nbsp;
              	</br>
              	
              	{% endif %}
              	{% endfor %}
				{% endif %}
            	</td>
            	</tr>
         </table>
      	</td>  


		<td>
          <table border="1" align="center" cellspacing="0" cellpadding="5"  width="175"  height="350">
          <caption><b>DONE</b></caption>
            	<tr>
            	<td>
            	{% if us %}
	  			{% for k in us %}
	  			{% if k.f_estado == 3 and k.f_actividad == u.id %}
	  			<div align="center">
				<a href="{% url 'agileApp:cambiar_estado_kanban1' user.id proyecto.id flujo.id k.id %}"><img src="/static/img/flecha2.png" width="20" height="20" border="0" title="Modificar"></a>
	  			<a href="{% url 'agileApp:verk' user.id proyecto.id k.id %}" type="submit"> {{k.nombre}}</a>
              	
	  			{% if k.f_actividad == actividadf.id %}
	  				{% if staff %}
              			<a href="{% url 'agileApp:cambiar_estado_kanban' user.id proyecto.id flujo.id k.id %}"><img src="/static/img/tilde.png" width="20" height="20" border="0" title="Modificar"></a>
              		{% endif %}
              	{%else%}
              	<a href="{% url 'agileApp:cambiar_estado_kanban' user.id proyecto.id flujo.id k.id %}"><img src="/static/img/flecha1.png" width="20" height="20" border="0" title="Modificar"></a>
              	{% endif %}
              	
              	</div>
              	</br>
              	&nbsp;
              	&nbsp;
              	</br>
              	
              	{% endif %}
              	{% endfor %}
				{% endif %}
            	</td>
            	</tr>
         </table>
      	</td> 

        </table>
      	</td>
   		
	
   	{% endfor %}

   	
   	
   	</table>
	{% endif %}
</form>

<div id="error" align="center">
	<br> <br>
	{% if  envio == False %}
		
		 <font color="red"><big><big>¡¡¡ Notificación no Enviada !!!</big></big></font>  
		
	{% endif %}
	
</div>
{% endblock content %}