{% extends 'base.html' %}
{% block title %}Asignar US a Sprint{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{usuario.username}}</a>!
			<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
					<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
				</li>
				
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
		<div id="pagina">
			<div id="zonaContenido">
				<div align="center">
					<div id="tituloForm" class="header">ASIGNAR US A SPRINT</div>
					<div id="frmBusqueda">
						<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								
								<tr>
									<td width="35%"><u><b>PRIORIDAD ALTA</b></u></td>
									<td width="35%"><u><b>PRIORIDAD MEDIA</b></u></td>
									<td width="35%"><u><b>PRIORIDAD BAJA</b></u></td>
								</tr>
								
								{% if user_stories %}
									{% for p, q, r in user_stories %}
										
										<tr>
											{% if p %}
												<td width="35%"><input type="checkbox" name="userstories" id="option{{ p.id }}" value="{{ p.id }}">{{ p }} | {{p.tiempo_estimado}} hs.<br></td>
											{% endif %}
											{% if q %}
												<td width="35%"><input type="checkbox" name="userstories" id="option{{ q.id }}" value="{{ q.id }}">{{ q }} | {{q.tiempo_estimado}} hs.<br></td>
											{% endif %}
											{% if r %}
												<td width="35%"><input type="checkbox" name="userstories" id="option{{ r.id }}" value="{{ r.id }}">{{ r }} | {{r.tiempo_estimado}} hs.<br></td>
											{% endif %}
										</tr>
											
									{% endfor %}
								{% endif %}
										
							</table>
					</div>

					<div id="botonBusqueda">
						<button class="button" type="submit">ASIGNAR USER STORIES A SPRINT</button>
				  		<a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}" class="button" type="submit">CANCELAR</a>
					</div>
					</form>
				</div>
			</div>
		</div>
			

{% endblock content %}