{% extends 'base.html' %}
{% block title %}Activar/Desactivar Sprint{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{usuario.username}}</a>!
			<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
					<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
				</li>
				
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
		<div id="pagina">
			<div id="zonaContenido">
				<div align="center">
					<div id="tituloForm" class="header">CAMBIAR ESTADO DE SPRINT</div>
					<div id="frmBusqueda">
						<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}{{ form.errors }} 
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								
								<tr>
									<td width="14%"><b>ID</b></td>
								    <td width="36%">{{sp.id}}</td>
								</tr>
								
								<tr>
									<td width="14%"><b>Nombre</b></td>
								    <td width="36%">{{sp.nombre}}</td>
								</tr>	
										
								<tr>
									<td><b>Duración en Días</b></td>
									<td width="36%">{{sp.duracion}}</td>								
								</tr>
								{% if lista_us %}
									<tr>
										<td><b>Estado</b></td>
									    <td>
											<select name="estado" id="estado">
												<option selected="selected" disabled="disabled">--- Selecciona un Estado ---</option>
												{% if cambio_estado %}
													<option value="1">Planificado</option>
													<option value="2">En Ejecución</option>
												{% endif %}
												<option value="3">Finalizado</option>
												<option value="4">Cancelado</option>
											</select> 
										</td>
									</tr>
								{% else %}
									<tr>
										<td><b>Estado</b></td>
									    <td>No se han asignado User Stories al Sprint.</td>
									</tr>		
								{% endif %}
							</table>	
					</div>
					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					

					<div id="botonBusqueda">
						<button class="button" type="submit">CAMBIAR ESTADO DE SPRINT</button>
				  		<a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}" class="button" type="submit">CANCELAR</a>
					</div>
					</form>
				</div>
			</div>
		</div>
			

{% endblock content %}