{% extends 'base.html' %}
{% block title %}Crear Sprint{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{usuario.username}}</a>!
			<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
					<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
				</li>
				
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
		<div id="pagina">
			<div id="zonaContenido">
				<div align="center">
					<div id="tituloForm" class="header">CREAR SPRINT</div>
					<div id="frmBusqueda">
						<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}{{ form.errors }} 
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								
								<tr>
									<td width="14%"><b>Nombre</b></td>
								    <td width="36%"><input NAME="nombre" type="text" class="cajaGrande" id="nombre" size="50" maxlength="25"></td>
								</tr>	
								
								<tr>
									<td width="14%"><b>Duración en Días</b></td>
								    <td width="36%"><input NAME="duracion" type="text" class="cajaGrande" id="duracion" size="50" maxlength="25"></td>
								</tr>	
								
								<tr>
									<td><b>Estado</b></td>
								    <td>
										<select name="estado" id="estado">
											<option selected="selected" disabled="disabled">--- Selecciona un Estado ---</option>
											<option value="1">Planificado</option>
											<option value="2">En Ejecución</option>
											<option value="3">Finalizado</option>
											<option value="4">Cancelado</option>
										</select> 
									</td>
								</tr>
											
							</table>	
					</div>
					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					

					<div id="botonBusqueda">
						<button class="button" type="submit">CREAR SPRINT</button>
				  		<a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}" class="button" type="submit">CANCELAR</a>
					</div>
					</form>
				</div>
			</div>
		</div>
			

{% endblock content %}