{% extends 'base.html' %}
{% block title %}Visualizar Proyecto{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{user.username}}</a>.</br>
			Se encuentra en el proyecto: {{proyecto.nombre_largo}}!
			<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' user.id proyecto.id %}">Proyecto</a>
					<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
                    	<li><a href="{% url 'agileApp:index_flujo' user.id proyecto.id %}">Flujos</a></li>
               		</ul>
				</li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>

		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
			<div id="pagina">
				<div id="zonaContenido">
					<div align="center">
						<div id="tituloForm" class="header">VISUALIZAR SPRINT </div>
							<div id="frmBusqueda">
								<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
									<colgroup>
										<col width="7%">
										<col width="15%">
										<col width="10%">
										<col width="10%">
										<col width="19%">
										<col width="19%">
										<col width="10%">
										<col width="10%">
									</colgroup>
									<tr>
										<td><b>ID</b></td>
										<td colspan="2">{{sp.id}}</td>
								    </tr>
								    
									<tr>
										<td><b>Nombre </b></td>
									    <td colspan="2">{{sp.nombre}}</td>
								    </tr>
								    
								    <tr>
										<td><b>Duración </b></td>
									    <td colspan="2">{{sp.duracion}} días.</td>
								    </tr>
								    
								    <tr>
										<td><b>Saldo </b></td>
									    <td colspan="2">{{sp.saldo}} hs.</td>
								    </tr>
								    
								    <tr>
										<td><b>Fecha de Inicio </b></td>
									    <td colspan="2">{{sp.fechaInicio}}</td>
								    </tr>
								    
								    <tr>
										<td><b>Fecha de Finalización </b></td>
									    <td colspan="2">{{sp.fechaFin}}</td>
								    </tr>
							</table>	
						</div>
					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
							
					<div id="tituloForm" class="header">SPRINT BACKLOG</div>
					<div id="frmBusqueda">
						<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
							<colgroup>
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="5%">
							</colgroup>

										{% if lista_us %}
											{% for us in lista_us %}
									    		<tr>
									    			<td width="10%"><b>Nombre: </b>{{us.nombre}}</td>
									    				{% if us.estado == 1 %}
															<td width="10%"><b>Estado: </b>Planificado</td>
														{% elif us.estado == 2 %}											
															<td width="10%"><b>Estado: </b>En Ejecución</td>
														{% elif us.estado == 3 %}											
															<td width="10%"><b>Estado: </b>Finalizado</td>
														{% elif us.estado == 4 %}											
															<td width="10%"><b>Estado: </b>Cancelado</td>
														{% endif %}
									    				{% if us.prioridad_SM == 1 %}
															<td width="10%"><b>Prioridad del SM: </b>Urgente</td>
														{% elif us.prioridad_SM == 2 %}											
															<td width="10%"><b>Prioridad del SM: </b>Medianamente Urgente</td>
														{% elif us.prioridad_SM == 3 %}											
															<td width="10%"><b>Prioridad del SM: </b>Para nada Urgente</td>
														{% endif %}
													<td width="5%"><div align="center"><b>Ver US: </b><a href="{% url 'agileApp:ver_us' user.id proyecto.id us.id %}"><img src="/static/img/ver.png" width="16" height="16" border="0" title="Visualizar"></a></div></td>
													<td width="5%"><div align="center"><b>Ver Reportes: </b><a href="{% url 'agileApp:ver_reporte_us' user.id proyecto.id us.id %}"><img src="/static/img/Performance.png" width="20" height="20" border="0" title="Ver Reportes"></a></div></td>
									    			
									    		</tr>
									    	{% endfor %}
									    {% else %}
									    	<td width="10%">Sin user stories.</td>
									    {% endif %}

								
						</table>
					</div>
					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					
					<div id="tituloForm" class="header">DESARROLLADORES</div>
					<div id="frmBusqueda">
						<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
							<colgroup>
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
							</colgroup>

										{% if lista_usuarios %}
											{% for user in lista_usuarios %}
									    		<tr>
									    			<td width="10%"><b>Nombre: </b>{{user.user}}</td>
									    		</tr>
									    	{% endfor %}
									    {% else %}
									    	<td width="10%">Sin desarrolladores.</td>
									    {% endif %}

								
						</table>
					</div>
							
							<div id="botonBusqueda">
        							<a class="button" onClick="javascript:history.go(-1);"> ATRÁS</a>
        					</div>
						</div>
					</div>
				</div>
			</div>
{% endblock content %}