{% extends 'base.html' %}
{% block title %}Editar Proyectos{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{usuario.username}}</a>!
			<br></br>
			<a href="javascript:history.go(-1)">Atrás</a> | 
			<a href="javascript:history.go(1)">Adelante</a>
		</div>
		
	<link href="/static/menu.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href='/agile/usuarios/index/'>Usuarios</a></li>
		  		<li><a href='/agile/roles/index/'>Roles</a></li>
		  		<li><a href='/agile/proyectos/index/'>Proyectos</a></li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
		<div id="pagina">
			<div id="zonaContenido">
				<div align="center">
					<div id="tituloForm" class="header">EDITAR PROYECTO</div>
					<div id="frmBusqueda">
					<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}{{ form.errors }} 
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								<tr>
									<td><b>ID</b></td>
									<td colspan="2">{{proyecto.id}}</td>
								</tr>
								<tr>
									<td><b>Observaciones</b></td>
									<td><input NAME="observaciones" type="text" class="cajaGrande" id="observaciones" size="50" maxlength="50" value="{{proyecto.observaciones}}"></td>
								</tr>
								
							</table>	
						</div>
						
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						
						<div id="tituloForm" class="header">ASIGNAR NUEVO SCRUM MASTER</div>
						<div id="frmBusqueda">
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								<tr>
									<td width="14%"><b>Rol</b></td>
									<td width="36%">{{rol.nombre}}</td>
								</tr>
								
								<tr>
									<td width="14%"><b>Líder Anterior del Proyecto</b></td>
									<td width="36%">{{sm}}</td>
								</tr>
								
								<tr>
									<td width="14%"><b>Líder Actual del Proyecto</b></td>
									<td width="36%">
										<select id="user_id" name="user_id" class="comboGrande">
											<option selected="selected" disabled="disabled">--- Selecciona un Usuario ---</option> 
												{% if lista %}
													{% for user in lista %}
														<option value="{{user.id}}">{{user.user.username}}</option>
													{% endfor %}
												{% endif %}
										</select>
									</td>
								</tr>			
											
							</table>	
					</div>
									
					<div id="botonBusqueda">
						<button class="button" type="submit">MODIFICAR PROYECTO</button>
				  		<a href="{% url 'agileApp:index_proyectos'%}" class="button" type="submit">CANCELAR</a>
					</div>
					</form>
				</div>
			</div>
		</div>
			

{% endblock content %}