{% extends 'base.html' %}
{% block title %}Inicio{% endblock title %}
{% block content %}
	<link href="/static/style.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a>{{usuario.username}}</a>!
		</div>
		
	<td>&nbsp;</td>
	<td>&nbsp;</td>
		
		<link href="/static/estilos1.css" rel="stylesheet" type="text/css" />
		<div id="pagina">
			<div id="zonaContenidoPP">
				<div align="center">
					<div id="cabeceraResultado" class="header">
						PROYECTOS DEL USUARIO </div>
						<div id="frmResultado">
							<table class="fuente8" width="60%" cellspacing=0 cellpadding=3 border=0 ID="Table1">
								<tr class="cabeceraTabla">
									<td width="8%">ÍTEM</td>
									<td width="7%">ID</td>
									<td width="20%">NOMBRE LARGO</td>
									<td width="10%">NOMBRE CORTO </td>
									<td width="15%">INGRESAR</td>
								</tr>
							</table>
							<div class="ScrollStyle">
							<table class="fuente8" width="100%" cellspacing=0 cellpadding=3 border=0 ID="Table1">
								{% if proyectos %}
									{% for proyecto in proyectos %}
										{% if forloop.counter|divisibleby:2  %}
											<tr class="itemImparTabla">
												<td class="aCentro" width="8%"><div align="center">{{forloop.counter}}</div></td>
												<td width="7%"><div align="center">{{proyecto.id}}</div></td>
												<td width="20%"><div align="center">{{proyecto.nombre_largo}}</div></td>
												<td width="10%"><div align="center">{{proyecto.nombre_corto}}</div></td>
												<td width="15%"><div align="center"><a href="{% url 'agileApp:index_ususario_proyecto' usuario.id proyecto.id %}"><img src="/static/img/cliente.png" width="16" height="16" border="0" title="Ingresar"></a></div></td>
											</tr>
										{% else %}
											<tr class="itemParTabla"> 
												<td class="aCentro" width="8%"><div align="center">{{forloop.counter}}</div></td>
												<td width="7%"><div align="center">{{proyecto.id}}</div></td>
												<td width="20%"><div align="center">{{proyecto.nombre_largo}}</div></td>
												<td width="10%"><div align="center">{{proyecto.nombre_corto}}</div></td>
												<td width="15%"><div align="center"><a href="{% url 'agileApp:index_ususario_proyecto' usuario.id proyecto.id %}"><img src="/static/img/cliente.png" width="16" height="16" border="0" title="Ingresar"></a></div></td>
											</tr>
										{% endif %}
									{% endfor %}
								{% else %}
									<p>No hay proyectos registrados en la base de datos.</p>
								{% endif %}
								
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock content %}