{% extends 'base.html' %}
{% block title %}Inicio{% endblock title %}
{% block content %}
	<link href="/static/style.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'agileApp:modificar_contrasena' %}">{{usuario.username}}</a>.</br>
			Se encuentra en el proyecto: {{proyecto.nombre_largo}}!
		</div>
		
	<link href="/static/menu1.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href="{% url 'agileApp:index_proyecto_usuario' usuario.id proyecto.id %}">Proyecto</a>
	{% if staff %}	<ul>
                    	<li><a href="{% url 'agileApp:index_us' user.id proyecto.id %}">Gestión de US</a></li>
                    	<li><a href="{% url 'agileApp:index_sprint' user.id proyecto.id %}">Sprints</a></li>
               		</ul>
	{% endif %}	</li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
{% endblock content %}
